body{
    font-family: 'Aleo', serif;
}
#particles-js{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
}
/* Navbar Start */
.navbar_{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    position: fixed;
    z-index: 1;
    margin-bottom: 3%;
}

.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:rgba(0, 0, 0, 0.0);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.navli{
    margin:0px 20px;
}

.navlink {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    position: sticky;
}
  
.navlink:hover {
    background-color: rgba(252, 252, 252, 0.2); 
    color: aqua;
    transition-duration: 1s; 
    letter-spacing: 2px;
    text-decoration: none;
}

.logo{
    float: left;
    margin-left: 4%;
    margin-top: 0.2%;
    position: absolute;
    opacity: 1;
}

.logolink{
    text-align: center;
    -webkit-text-stroke:  white;
    -webkit-text-stroke-width: 0.25px;
    color: rgba(0, 0, 0, 0.8);
    font-size: 30px;
    text-decoration: none;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 0px 0px 5px cyan;
    transition-duration: 1s;
}

.logolink:hover{
    text-decoration: none;
    -webkit-text-stroke:  cyan;
    -webkit-text-stroke-width: 0.25px;
    color: rgba(0, 0, 0, 0.8);
}

/* Navbar End */

label{
    font-size:16px;
    color: gainsboro;
    margin-right: 10%;
}

.fielddes{
    width:90%;
    height:550px;
    text-align:left; 
    border-radius: 15px;
    border-style: none;
    overflow-y: hidden; 
    background:rgba(0, 0, 0, 0.9);
    padding-left: 13%;
    padding-right: 7%;
    padding-top: 20%;
    padding-bottom: 0px;
    position:absolute;
    transition-duration: 1s;   
    box-shadow: 0px 0px 10px darkcyan;
    -webkit-transition-duration: 1s; 
    margin-top: 5%;
    margin-left: 4.5%;
    justify-content: center;
}

.fielddes:hover{
    background:rgba(0,0,0,1);
    box-shadow: 0px 0px 19px darkcyan;    
}

::-webkit-input-placeholder {
    font-size: 13px;
    letter-spacing: 1px;
}

.fielddes:hover  p{
    -webkit-text-stroke: rgb(44, 52, 54);
    -webkit-text-stroke-width: 0.5px;
}

.fielddes:hover form label{
    -webkit-text-stroke: #00adb5;
    -webkit-text-stroke-width: 0.2px;
}

.inp{
    padding: 12px 5px;
    margin: 8px 0;
    border: none;
    border-bottom: 3px solid darkcyan;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline:none;
    font-size: 15px;
    width: 210px;
    height: 15px;
    background-color:rgba(0, 0, 0, 0.0);
    color:#ccc;
}

.inp:hover{
    border-bottom: 3px solid white;
}

.inp:focus{
    width: 220px;
    height: 20px;
}

.inp2{
    padding: 12px 5px;
    margin: 8px 0;
    border: none;
    border-bottom: 3px solid darkcyan;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline:none;
    font-size: 15px;
    width: 270px;
    height: 52px;
    background-color:rgba(0, 0, 0, 0.0);
    color:#ccc;
    overflow: hidden;
    max-width: 310px;
    max-height:200px;

}

.inp2:hover{
    border-bottom: 3px solid white;
}

.inp2:focus{
    height: 150px;
}

.signin{
    margin-left: 93px;
    color:white;
    font-size: 40px;
    padding-left: 15px;
}

.button{
    color: white;
    background-color:rgba(0, 0, 0, 0.0);
    border-style: solid;
    border-width: 2px ;
    border-radius: 15px;
    border-color:  darkcyan;
    margin-left: 30%;
    margin-top: 5%;
    font-size: larger;
    height: 60px;
    width: 125px;
    transition-duration: 0.5s;
    outline:none;  
}

.button:hover{
    box-shadow: inset 0px 0px 5px cyan;
}

#myBar {
    width: 315px;
    height: 2px;
    border:none;
    background-color:darkcyan;
    margin-left: 5px;
}

#myProgress {
    width: 315px;
    height: 2px;
    border:none;
    background-color:darkcyan;
    margin-left: 5px;
}

.reg{
    transition-duration: 1s;
}

.reg:active, .reg:link, .reg:visited {
    color:antiquewhite;
}

.reg:hover{
    color: cyan;
    letter-spacing: 0.5px;
}


/* Footer */
.container-fluid {
    overflow: hidden;
    margin-top: 20px;
    color: #627482 !important;
    margin-bottom: 0;
    padding-bottom: 10px;
}

small {
    font-size: calc(12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))) !important
}

.bold-text {
    color: #989c9e !important;
    font-size:large;
}

.mt-55 {
    margin-top: calc(50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))) !important
}

h3 {
    font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360))) !important
}

.social {
    font-size: 21px !important
}

.rights {
    font-size: calc(10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))) !important
}

.footlink:active, .footlink:visited{
    color: white;
}

.footlink {
    color: white;
    text-decoration: none;
    transition-duration: 1s;
}

.footlink:hover{
    text-decoration: none;
    color:cyan;
    letter-spacing: 1px;
}

.fa-instagram, .fa-facebook, .fa-twitter, .fa-linkedin-square, .fa-envelope{
    color: darkcyan;
    transition-duration: 0.5s;
}

.fa-instagram:hover, .fa-twitter:hover{
    color: cyan;
    transform: rotateZ(10deg);
}

small:hover .fa-envelope{
    color: cyan;
    transform: rotateZ(-10deg);
}

.fa-facebook:hover,  .fa-linkedin-square:hover{
    color: cyan;
    transform: rotateZ(-10deg);
}

.footemail:active, .footemail:visited, .footemail:hover, .footemail{
    color: white;
    text-decoration: none;
}

.footaddress:active, .footaddress:visited, .footaddress{
    color: white;
    text-decoration: none;
    transition-duration: 1s;
}

.footaddress:hover{
    color: darkcyan;
    text-decoration: none;
}
/* Footer End */

.container h3{
    margin-bottom: 8%;
    margin-top: -20%;
    text-align: center;
    color: cyan;
}